version: "3.8"

services:
  web1:
    image: "{{ image_repo }}:{{ image_tag }}"
    container_name: web1
    restart: unless-stopped
    ports:
      - "127.0.0.1:{{ web1_port }}:80"

  web2:
    image: "{{ image_repo }}:{{ image_tag }}"
    container_name: web2
    restart: unless-stopped
    ports:
      - "127.0.0.1:{{ web2_port }}:80"
